fastapi==0.133.0
uvicorn[standard]==0.41.0
python-jose==3.5.0
email-validator==2.3.0
python-multipart==0.0.22
pydub==0.25.1
spleeter==2.4.0
celery==5.1.2
redis==7.2.0
numpy==1.26.4
fastapi-limiter==0.2.0